<%- include('partials/admin-header') %>
<div class="container">
  <div class="row home-content">
    <% post.reverse() %> <% post.forEach(function(item, index) { %>
    <div class="col-lg-4 card-content">
      <div class="card" style="width: 18rem;">
        <a href="/anime/<%= change(item.judul) %>"><img src="upload/<%= item.img %>"
            onerror="this.src='img/img-404.png'" class="card-img-top" alt="<%= item.judul %> image"></a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= truncateString(item.judul, 30) %></li>
        </ul>
        <div class="card-body">
          <p class="card-text">Genre: <%= item.genre.splice(0,3) %>...</p>
          <p class="card-text"><%= truncateString(item.sinopsis, 100) %></p>
          <a href="/edit/<%= change(item.judul) %>" class="btn btn-primary">Edit</a>
          <a href="/delete/<%= change(item.judul) %>" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <% }) %>

  </div>

</div>

<%- include('partials/admin-footer') %>