<%- include('partials/header') %>

<div class="container daftar-anime">
  <div class="row">
    <div class="col-sm-8 column1">
      <ul class="list-group ">
        <li class="list-group-item active">Daftar Anime</li>
        <% anime.forEach(function(item, index) { %>
        <li class="list-group-item ">
          <div class="card-anime">
            <a href="/anime/<%= change(item.judul) %>"><%= truncateString(item.judul, 40) %></a>
            <div class="card-daftar-anime dark">
              <img src="upload/<%= item.img %>" class="card-img-top img-thumbnail" alt="..."
                onerror="this.src='img/img-404.png'" />
              <p class="card-text">
                Sinopsis : <%= truncateString(item.sinopsis, 100) %>
              </p>
              <p class="card-text">
                Genre: <%= truncateString(item.genre, 30) %>
              </p>
              <p class="card-text">
                Score : <%= truncateString(item.skor, 30) %>
              </p>
            </div>
          </div>
        </li>

        <%})%>
      </ul>
    </div>
    <%- include('partials/toast') %>
  </div>
</div>
<%- include('partials/footer') %>