<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ul class="genreUser">
        <% genre.forEach(function(item, index){%>
        <a href="/search/<%= change(item.genre) %>" class="genreItem"><%= item.genre %></a>
        <% }) %>
      </ul>
    </div>
    <%- include('partials/toast') %>
  </div>
</div>

<%- include('partials/footer') %>
