<%- include('partials/header2') %>

<% completed.reverse() %>
<!-- Carousel -->

<div class="jumbotron jumbotron-fluid"
  style="background-image: url(upload/<%= carousel[carousel.length -1].imgCarousel %>);">
  <div class="container text-jumbotron">
    <h1><%= carousel[carousel.length -1].title %></h1>
    <p><%= carousel[carousel.length -1].deskripsi %></p>
  </div>
</div>

<!-- MAIN CONTENT -->

<section id="middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="type-title">
          <h2>ON AIR</h2>
          <div class="button-title">
            <a href="#" class="btn btn-danger">See More!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row home-content">
      <% ongoing.reverse() %>
      <% ongoing.forEach(function(item, index) { %>
      <%if(index < 6){ %>
      <div class="col-lg-4 card-content">
        <div class="card" style="width: 18rem;">
          <a href="/anime/<%= change(item.judul) %>"><img src="upload/<%= item.img %>" class="card-img-top"
              alt="Apa hayo"></a>
          <p class="item">Episode : <%= item.jumlahEpisodeTelahRilis %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= truncateString(item.judul, 30) %></li>
          </ul>
          <div class="card-body">
            <p class="card-text">Genre : <%= item.genre.splice(0,3) %>...</p>
            <p class="card-text"><%= truncateString(item.sinopsis, 100) %></p>
          </div>
        </div>
      </div>
      <% }else{ %>
      <%   return null; %>

      <%  } %>


      <% }) %>



    </div>

    <!-- Completed -->

    <div class="row">
      <div class="col-sm-12">
        <div class="type-title">
          <h2>COMPLETED</h2>
          <div class="button-title">
            <a href="#" class="btn btn-danger">See More!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row home-content">
      <% completed.forEach(function(item, index) { %>
      <%if(index < 6){ %>
      <div class="col-lg-4 card-content">
        <div class="card" style="width: 18rem;">
          <a href="/anime/<%= change(item.judul) %>"><img src="upload/<%= item.img %>" class="card-img-top"
              alt="Apa hayo"></a>
          <p class="item">⭐ <%= item.skor %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= truncateString(item.judul, 30) %></li>
          </ul>
          <div class="card-body">
            <p class="card-text">Genre: <%= item.genre.splice(0,3) %>...</p>
            <p class="card-text"><%= truncateString(item.sinopsis, 100) %></p>
          </div>
        </div>
      </div>
      <% }else{ %>
      <%   return null; %>

      <%  } %>


      <% }) %>

    </div>
</section>




<%- include('partials/footer') %>