<%- include('partials/header2') %>






<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 jadwalrilis">
                <div class="hari">
                    <p class="title-hari">SENIN</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Senin' || item.hariRilis === 'senin'){ %>
                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="hari">
                    <p class="title-hari">SELASA</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Selasa' || item.hariRilis === 'selasa'){ %>

                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>

                        </ul>
                    </div>
                </div>
                <div class="hari">
                    <p class="title-hari">RABU</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Rabu' || item.hariRilis === 'rabu'){ %>

                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>

                        </ul>
                    </div>
                </div>
                <div class="hari">
                    <p class="title-hari">KAMIS</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Kamis' || item.hariRilis === 'kamis'){ %>

                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>

                        </ul>
                    </div>
                </div>
                <div class="hari">
                    <p class="title-hari">JUMAT</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Jumat' || item.hariRilis === 'jumat'){ %>
                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="hari">
                    <p class="title-hari">SABTU</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Sabtu' || item.hariRilis === 'sabtu'){ %>

                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="hari">
                    <p class="title-hari">MINGGU</p>
                    <div class="content-jadwalrilis">
                        <ul>
                            <% post.forEach(function(item, index){ %>
                            <% if(item.hariRilis === 'Minggu' || item.hariRilis === 'minggu'){ %>

                            <li class="item-jadwalrilis"><span>> </span> <a
                                    href="/anime/<%= item._id %>"><%= truncateString(item.judul, 20) %></a></li>
                            <% } %>

                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <%- include('partials/toast') %>
        </div>
    </div>
</section>








<%- include('partials/footer') %>