<%- include('partials/header') %>



<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="content" style="display: inline; text-align: left;">
                <img class="img-fluid" style="margin: 100px auto;" align="right" src="../upload/<%= info.img %>"
                    onerror="this.src='img/img-404.png'" alt="<%= info.judul %>">

                <div class="content-isi" style="margin: 100px 0 50px 0;">
                    <%- info.konten -%>
                </div>
            </div>







        </div>
        <%- include('partials/toast') %>
    </div>

</div>
<%- include('partials/footer') %>